extends base

block content

    div#join
        form#joinForm
            input(placeholder="room name", required, type="text")#roomname
            input(placeholder="nickname", type="text")#nickname
            button Save
    div#room
        h3
        ul#messageList
        form
            input(placeholder="message", required, type="text")
            button Send
        hr
        h4 Room List :
        ul#roomList